{% extends "base.html" %} 
{% block title %}My Cart{% endblock %}
{% block content %}

<table class="table table-striped">
    <tr>
        <th>Sale ID</th>
        <th>Item ID</th>
        <th>Item name</th>
        <th>Quantity</th>
        <th>Item Price</th>
        <th>Total</th>
    </tr>
    {% for item in cart %}
    
    <tr>
        
        <td>{{item.sale_id}}</td>
        <td>{{item.item_id}}</td>
        <td>{{item.item_name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.item_price}}</td>
        <td>{{item.item_price*item.quantity}}</td>
    </tr>
    
    {% endfor %}
</table>
</br>
<a href="/products"><button type="button" class="btn btn-primary checkout">Continue Shopping</button></a>
<a href="/checkout"><button type="button" class="btn btn-success checkout">Proceed to Checkout</button></a></br>

{% endblock %}