{% extends 'adminbase.html' %}
{% block content %}
<h2>Damaged orders</h2>
<h5>Items to be replaced as soon as possible</h5>
<table class="table table-striped">
    <tr>
        <th>Tracking No</th>
        <th>Item name</th>
        <th>Username</th>
        <th>Card Number</th>
        <th>Quantity</th>
        <th>Date Of Order</th>
        <th>Date of delivery</th>
        <th>Delivery Place</th>
        <th>Subtotal</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>
    {% for order in orders %}
    
    <tr>
        <td>{{order.sale_id}}</td>
        <td>{{order.item_name}}</td>
        <td>{{order.username}}</td>
        <td>{{order.cardnumber}}</td>
        <td>{{order.quantity}}</td>
        <td>{{order.date_of_order}}</td>
        <td>{{order.date_of_delivery}}</td>
        <td>{{order.delivery_place}}</td>
        <td>{{order.subtotal}}</td>
        <td>{{order.status}}</td>
        <td><a href="/deletesale/{{order.sale_id}}" class="btn btn-danger" type="submit" value="Delete"><img src="https://img.icons8.com/material-two-tone/24/000000/add-trash.png">
        </a>
        </td>
        <td>
            <a href="/editsale/{{order.sale_id}}"class="btn btn-primary" type="submit" value="Edit">Edit
            </a> 
        </td>
    </tr>
    
    {% endfor %}
</table>
{% endblock %}