{% extends 'adminbase.html' %}
{% block content %}
<table class="table table-striped">
    <tr>
        <th>Tracking Number</th>
        <th>Item name</th>
        <th>Username</th>
        <th>Card Number</th>
        <th>Quantity</th>
        <th>Date Of Order</th>
        <th>Date of delivery</th>
        <th>Delivery Place</th>
        <th>Subtotal</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>
    {% for del in deliveries %}
    
    <tr>
        <td>{{del.sale_id}}</td>
        <td>{{del.item_name}}</td>
        <td>{{del.username}}</td>
        <td>{{del.cardnumber}}</td>
        <td>{{del.quantity}}</td>
        <td>{{del.date_of_order}}</td>
        <td>{{del.date_of_delivery}}</td>
        <td>{{del.delivery_place}}</td>
        <td>{{del.subtotal}}</td>
        <td>{{del.status}}</td>
        <td><a href="/deletedelivery/{{del.sale_id}}" class="btn btn-danger" type="submit" value="Delete"><img src="https://img.icons8.com/material-two-tone/24/000000/add-trash.png">
        </a>
        </td>
        <td>
            <a href="/editdelivery/{{del.sale_id}}"class="btn btn-primary" type="submit" value="EDIT">Edit
            </a> 
        </td>
    </tr>
    
    {% endfor %}
</table>
{% endblock %}