{% extends "base.html" %} 
{% block title %}Ohm Depot{% endblock %}
{% block content %}
<head>
    <h1>The Ohm Depot</h1>
    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>
<body>
<!-- Laptops -->
<div class="categories mb-4">
    <h2 style="text-align: center;">Laptops</h2>
    <div class = "small-container">
        <div class = "row mt-4">
            <div class="col-mb-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../static/static/img/Asus-X509Ja-Core-I3-10Th-Gen.jpg" class="card-img-top" alt="#laptop image">
                        <h2 class="card-title">ASUS X509Ja Core I3</h2>
                        <h3 class="card-text" style="font-weight: bold;">Ksh. 67000</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Phones -->
<div class="categories mb-4">
    <h2 style="text-align: center;">Phones</h2>
    <div class = "small-container">
        <div class = "row mt-4">
            <div class="col-mb-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../static/static/img/Samsung-Note-10.png" class="card-img-top" alt="#laptop image">
                        <h2 class="card-title">Samsung Note 10</h2>
                        <h3 class="card-text" style="font-weight: bold;">Ksh. 96000</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Audio -->
<div class="categories mb-4">
    <h2 style="text-align: center;">Audio</h2>
    <div class = "small-container">
        <div class = "row mt-4">
            <div class="col-mb-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../static/static/img/JBL-Headphones Print.jpeg" class="card-img-top" alt="#laptop image">
                        <h2 class="card-title">JBL Headphones Printed</h2>
                        <h3 class="card-text" style="font-weight: bold;">Ksh. 37000</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

{% endblock %}