{% extends "base.html" %} 
{% block title %}Ohm Depot{% endblock %}
{% block content %}
<head>
    <h1>The Ohm Depot</h1>
    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>
<body>
<!-- Laptops -->
<div class="categories mb-4">
    <h2 style="text-align: center;">Laptops</h2>
    <div class = "small-container">
        <div class = "row mt-4">
            {% for laptop in laptops %}
            <div class="col-mb-4">  
                <div class="card">
                    <div class="card-body">
                        <img src="../static/static/img/{{laptop.item_name}}.jpg" class="card-img-top" alt="#laptop image">
                        <h2 class="card-title">{{laptop.item_name}}</h2>
                        <h3 class="card-text" style="font-weight: bold;">KSH. {{laptop.item_price}}</h3>
                        <a style="align-items: center;" href="products/{{laptop.item_id}}" class="btn btn-success pull-right"><img src="https://img.icons8.com/small/16/000000/shopping-bag.png"/> Add To Cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Phoness -->
<div class="categories mb-4">
    <h2 style="text-align: center;">Phones</h2>
    <div class = "small-container">
        <div class = "row mt-4"> 
            {% for phone in phones %}  
            <div class="col-mb-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../static/static/img/{{phone.item_name}}.jpg" class="card-img-top" alt="#laptop image">
                        <h2 class="card-title">{{phone.item_name}}</h2>
                        <h3 class="card-text" style="font-weight: bold;">KSH. {{phone.item_price}}</h3>
                        <a href="products/{{phone.item_id}}" class="btn btn-success pull-right"><img src="https://img.icons8.com/small/16/000000/shopping-bag.png"/> Add To Cart</a>
                    </div>  
                </div>
            </div>
            {% endfor %}
        </div> 
    </div>   
</div>
<!-- Audio Equipment -->
<div class="categories mb-4">
    <h2 style="text-align: center;">Audio</h2>
    <div class = "small-container">
        <div class = "row mt-4">
            {% for audio in audios %}
            <div class="col-mb-4"> 
                <div class="card">
                    <div class="card-body">
                        <img src="../static/static/img/{{audio.item_name}}.jpg" class="card-img-top" alt="#laptop image">
                        <h2 class="card-title">{{audio.item_name}}</h2>
                        <h3 class="card-text" style="font-weight: bold;">KSH. {{audio.item_price}}</h3>
                        <a href="products/{{audio.item_id}}" class="btn btn-success pull-right"><img src="https://img.icons8.com/small/16/000000/shopping-bag.png"/> Add To Cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>

{% endblock %}