{% extends "base.html" %} 
{% block title %}The Ohm Depot{% endblock %}
{% block content %}
<h1>Welcome Manager</h1>
<h2>Products</h2>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Item brand</th>
            <th>Item Price</th>
            <th>No of items</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{product.item_id}}</td>
            <td>{{product.item_name}}</td>
            <td>{{product.item_brand}}</td>
            <td>{{product.item_price}}</td>
            <td>{{product.items_available}}</td>
        </tr>
        {%endfor%}
    </table>
<h2>Sales</h2>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Serial number</th>
            <th>Date of Sale</th>
        </tr>
        {% for sale in sales %}
        <tr>
            <td>{{sale.sale_id}}</td>
            <td>{{sale.serial_number}}</td>
            <td>{{sale.date_of_sale}}</td>
        </tr>
        {%endfor%}
    </table>
{% endblock %}