<nav class = "navbar navbar-expand-lg navbar-light flex-md-row py-3" style="background-color:gold; color: black; width: 100%; font-size: large;">
    <div class="logo">
        <img src="https://img.icons8.com/ios-glyphs/30/000000/heater-resistor.png"/>
    </div>
    <a style="font-weight:600; font-size:xx-large; color: black;"class="navbar-brand" href="#" >  The Ohm Depot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbar">
        <div class = "navbar-nav">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/laptops">Laptop</a>
                    <a class="dropdown-item" href="/phones">Phones</a>
                    <a class="dropdown-item" href="/audioequipment">Audio equipment</a>
                </div>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/products">Products</a>
                </li>
                {% if session.logged_in %}
                <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
                </li>
                <li class="nav-item">
                <img src="https://img.icons8.com/ios-glyphs/30/ffffff/test-account.png"/>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="" style="color: white;">{{session.username}}</a>
                </li>
                {% else %}
                <li class="nav-item">
                <a class="nav-link" href="/sign-up">Sign Up</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/loginoptions">Log In</a>
                </li>
                {% endif %}
                <li class="nav-item">
                <a class="nav-link" href="/cart">
                    <img src="https://img.icons8.com/offices/30/000000/add-shopping-cart.png"/></a>
                </li>
            </ul>
            </div>
        </div>
</nav>